<h5 class="text-base font-bold" style="font-variant-caps: all-small-caps">
	{% if place.type == enum('App\\Modules\\Gaia\\Domain\\Enum\\PlaceType').Planet %}
		{% if place.player is not null %}
			{{ place.name }}
		{% else %}
			Planète rebelle
		{% endif %}
	{% else %}
		{{ ('galaxy.places.types.' ~ place.type.value ~ '.name')|trans }}
	{% endif %}
</h5>
