<twig:LayoutBox>
	<header class="flex items-center gap-x-2">
		{% if isProfileView %}
<!--			<img src="{{ asset('build/media/map/place/place1-' ~ planet|base_demography ~ '.png') }}" alt=" {{ planet.name }}" />-->
			<twig:PlanetThumbnail :planet="planet" />

			<div>
				<twig:H2>{{ planet.name }}</twig:H2>
				<twig:H5>
					{{ planet|base_type }}
				</twig:H5>
			</div>
		{% else %}
			<twig:H2>Vue de situation</twig:H2>
		{% endif %}
	</header>
	<section class="mt-4">

	</section>
</twig:LayoutBox>
