{% extends 'layouts/athena/current_planet.html.twig' %}

{% block content %}
	<div class="grid grid-cols-4 gap-x-4">
		<twig:FastView :planet="current_planet" index="0" :isProfileView="false" />

		{{ include('components/planet/situation.html.twig') }}

		{{ include('components/planet/type.html.twig') }}

		{% if current_player_planets|length > 1 %}
			{{ include('components/planet/leave_planet.html.twig') }}
		{% endif %}
	</div>
{% endblock %}
