{% extends 'layouts/athena/current_planet.html.twig' %}

{% block content %}
	<div class="grid grid-cols-4 gap-x-4">
		{{ include('components/base/situation.html.twig') }}

		{% if current_player_planets|length > 1 %}
			{{ include('components/base/leave_planet.html.twig') }}
		{% endif %}
	</div>
{% endblock %}
