<twig:LayoutBox class="component player rank">
	<header>
		<twig:H2>
			Derniers reçus
		</twig:H2>
	</header>
	<section>
		{% for transaction in receivings %}
			<twig:CreditTransactionHistory :transaction="transaction" side="sender" />
		{% endfor %}

		{% if receivings|length == 0 %}
			<p>Vous n'avez encore reçu aucun crédit.</p>
		{% endif %}
	</section>
</twig:LayoutBox>
