<twig:LayoutBox class="component player rank">
	<header>
		<twig:H2>
			Derniers envois
		</twig:H2>
	</header>
	<section>
		{% for transaction in sendings %}
			<twig:CreditTransactionHistory :transaction="transaction" side="receiver" />
		{% endfor %}

		{% if sendings|length == 0 %}
			<p>Vous n'avez fait aucun envoi de crédit.</p>
		{% endif %}
	</section>
</twig:LayoutBox>
